body {
    background-color: #487948;
}
.prvo-dugme {
    border-radius: 15px;
}
.prva-slika {
    width: 180px;
    border-radius: 20px;
}
.nesto {
    background-color: white;
    width: 180px;
    border-radius: 20px;
    height: 268px;
    border: 2px solid black;
    margin-top: 10px;
    float: left;
    position: relative;
}
.nesto:hover {
    background-color: #f2f2f2;
}
.text1 {
    text-align: center;
    margin-top: 1px;
}
.prvo-dugme1 {
    border-radius: 10px;
    margin-left: 36px;
    margin-top: 1px;
    background-color: #808080;
    position: absolute;
}
.nesto2 {
    background-color: white;
    width: 180px;
    border-radius: 20px;
    height: 268px;
    border: 2px solid black;
    margin-top: 10px;
    float: right;
    position: relative;
}
.text2 {
    text-align: center;
    margin-top: 1px;
}
.prvo-dugme2 {
    border-radius: 10px;
    margin-left: 36px;
    margin-top: 1px;
    background-color: #808080;
    position: absolute;
}
.nesto2:hover {
    background-color: #f2f2f2;
}
.druga-slika {
    width: 180px;
    border-radius: 20px;
}
.pocetni-kvadar {
    background-color: wheat;
    background-image: linear-gradient(to right,#762ca8,#1c3f70,#d44fe0,#8c325b,#a87cd6);
    height: 30px;
    border-radius: 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}
.crna-linija1 {
    background-color: black;
    border: 1px solid black;
}
.text3 {
    text-align: center;
    margin-top: 1px;
}
.nesto3 {
    background-color: white;
    width: 180px;
    border-radius: 20px;
    height: 268px;
    border: 2px solid black;
    margin-top: 10px;
    float: left;
}
.nesto3:hover {
    background-color: #f2f2f2;
}
.prvo-dugme3 {
    border-radius: 10px;
    margin-left: 36px;
    margin-top: 1px;
    background-color: #808080;
}
.treca-slika {
    width: 180px;
    border-radius: 20px;
}
.nesto4 {
    background-color: white;
    width: 180px;
    border-radius: 20px;
    height: 268px;
    border: 2px solid black;
    margin-top: 10px;
    float: right;
}
.nesto4:hover {
    background-color: #f2f2f2;
}
.prvo-dugme4 {
    border-radius: 10px;
    margin-left: 36px;
    margin-top: 1px;
    background-color: #808080;
    position: absolute;
}
.cetvrta-slika {
    width: 180px;
    border-radius: 20px;
}
.text4 {
    text-align: center;
    margin-top: 1px;
}
.crna-linija2 {
    background-color: black;
    border: 1px solid black;
}
.nesto5 {
    background-color: white;
    width: 180px;
    border-radius: 20px;
    height: 268px;
    border: 2px solid black;
    margin-top: 10px;
    float: left;
}
.nesto5:hover {
    background-color: #f2f2f2;
}
.text5 {
    text-align: center;
    margin-top: 1px;
}
.peta-slika {
    width: 180px;
    border-radius: 20px;
}
.nesto6 {
    background-color: white;
    width: 180px;
    border-radius: 20px;
    height: 268px;
    border: 2px solid black;
    margin-top: 10px;
    float: right;
}
.nesto6:hover {
    background-color: #f2f2f2;
}
.text6 {
    text-align: center;
    margin-top: 1px;
}
.sesta-slika {
    width: 180px;
    border-radius: 20px;
}
.prvo-dugme5 {
    border-radius: 10px;
    margin-left: 36px;
    margin-top: 1px;
    background-color: #808080;
}
.prvo-dugme6 {
    border-radius: 10px;
    margin-left: 36px;
    margin-top: 1px;
    background-color: #808080;
}
.crna-linija3 {
    background-color: black;
    border: 1px solid black;
    margin-top: 292px;
}
.nesto7 {
    background-color: white;
    width: 180px;
    border-radius: 20px;
    height: 268px;
    border: 2px solid black;
    margin-top: 10px;
    float: left;
}
.nesto7:hover {
    background-color: #f2f2f2;
}
.prvo-dugme7 {
    border-radius: 10px;
    margin-left: 36px;
    margin-top: 1px;
    background-color: #808080;
}
.text7 {
    text-align: center;
    margin-top: 1px;
}
.sedma-slika {
    width: 180px;
    border-radius: 20px;
}
.nesto8 {
    background-color: white;
    width: 180px;
    border-radius: 20px;
    height: 268px;
    border: 2px solid black;
    margin-top: 10px;
    float: right;
}
.nesto8:hover {
    background-color: #f2f2f2;
}
.osma-slika {
    width: 180px;
    border-radius: 20px;
}
.text8 {
    text-align: center;
    margin-top: 1px;
}
.prvo-dugme8 {
    border-radius: 10px;
    margin-left: 36px;
    margin-top: 1px;
    background-color: #808080;
}
.crna-linija4 {
    background-color: black;
    border: 1px solid black;
    margin-top: 292px;
}
.deveta-slika {
    width: 180px;
    border-radius: 20px;
}
.text9 {
    text-align: center;
    margin-top: 19px;
}
.prvo-dugme9 {
    border-radius: 10px;
    margin-left: 36px;
    margin-top: 1px;
    background-color: #808080;
}
.nesto9 {
    background-color: white;
    width: 180px;
    border-radius: 20px;
    height: 268px;
    border: 2px solid black;
    margin-top: 10px;
    float: left;
}
.nesto9:hover {
    background-color: #f2f2f2;
}
.deseta-slika {
    width: 180px;
    border-radius: 20px;
}
.text10 {
    text-align: center;
    margin-top: 19px;
}
.prvo-dugme10 {
    border-radius: 10px;
    margin-left: 36px;
    margin-top: 1px;
    background-color: #808080;
    position: absolute;
}
.nesto10 {
    background-color: white;
    width: 180px;
    border-radius: 20px;
    height: 268px;
    border: 2px solid black;
    margin-top: 10px;
    float: right;
}
.nesto10:hover {
    background-color: #f2f2f2;
}
.prvo-dugme10:hover{
    background-color: #5e5e5e;
}
.prvo-dugme9:hover{
    background-color: #5e5e5e;
}
.prvo-dugme8:hover{
    background-color: #5e5e5e;
}
.prvo-dugme7:hover{
    background-color: #5e5e5e;
}
.prvo-dugme6:hover{
    background-color: #5e5e5e;
}
.prvo-dugme5:hover{
    background-color: #5e5e5e;
}
.prvo-dugme4:hover{
    background-color: #5e5e5e;
}
.prvo-dugme3:hover{
    background-color: #5e5e5e;
}
.prvo-dugme2:hover{
    background-color: #5e5e5e;
}
.prvo-dugme1:hover{
    background-color: #5e5e5e;
}
.prvo-dugme:hover{
    background-color: #5e5e5e;
}
.crna-linija5 {
    background-color: black;
    border: 1px solid black;
    margin-top: 292px;
}
.jedanesta-slika {
    width: 180px;
    border-radius: 20px;
    height: 174px;
}
.text11 {
    text-align: center;
    margin-top: 10px;
}
.prvo-dugme11 {
    border-radius: 10px;
    margin-left: 36px;
    margin-top: 1px;
    background-color: #808080;
}
.nesto11 {
    background-color: white;
    width: 180px;
    border-radius: 20px;
    height: 268px;
    border: 2px solid black;
    margin-top: 10px;
    float: left;
}
.nesto11:hover {
    background-color: #f2f2f2;
}
.prvo-dugme11:hover{
    background-color: #5e5e5e;
}
.dvanesta-slika {
    width: 180px;
    border-radius: 20px;
    height: 174px;
}
.text12 {
    text-align: center;
    margin-top: 10px;
}
.prvo-dugme12 {
    border-radius: 10px;
    margin-left: 36px;
    margin-top: 1px;
    background-color: #808080;
}
.nesto12 {
    background-color: white;
    width: 180px;
    border-radius: 20px;
    height: 268px;
    border: 2px solid black;
    margin-top: 10px;
    float: right;
}
.nesto12:hover {
    background-color: #f2f2f2;
}
.prvo-dugme12:hover{
    background-color: #5e5e5e;
}
.crna-linija6 {
    background-color: black;
    border: 1px solid black;
    margin-top: 292px;
}
.trinesta-slika {
    width: 180px;
    border-radius: 20px;
    height: 174px;
}
.text13 {
    text-align: center;
    margin-top: 10px;
}
.prvo-dugme13 {
    border-radius: 10px;
    margin-left: 36px;
    margin-top: 1px;
    background-color: #808080;
}
.nesto13 {
    background-color: white;
    width: 180px;
    border-radius: 20px;
    height: 268px;
    border: 2px solid black;
    margin-top: 10px;
    float: left;
}
.nesto13:hover {
    background-color: #f2f2f2;
}
.prvo-dugme13:hover{
    background-color: #5e5e5e;
}
.cetrnesta-slika {
    width: 180px;
    border-radius: 20px;
    height: 174px;
}
.text14 {
    text-align: center;
    margin-top: 10px;
}
.prvo-dugme14 {
    border-radius: 10px;
    margin-left: 36px;
    margin-top: 1px;
    background-color: #808080;
}
.nesto14 {
    background-color: white;
    width: 180px;
    border-radius: 20px;
    height: 268px;
    border: 2px solid black;
    margin-top: 10px;
    float: right;
}
.nesto14:hover {
    background-color: #f2f2f2;
}
.prvo-dugme14:hover{
    background-color: #5e5e5e;
}
.crna-linija7 {
    background-color: black;
    border: 1px solid black;
    margin-top: 292px;
}
.petnesta-slika {
    width: 180px;
    border-radius: 20px;
    height: 174px;
}
.text15 {
    text-align: center;
    margin-top: 10px;
}
.prvo-dugme15 {
    border-radius: 10px;
    margin-left: 36px;
    margin-top: 1px;
    background-color: #808080;
}
.nesto15 {
    background-color: white;
    width: 180px;
    border-radius: 20px;
    height: 268px;
    border: 2px solid black;
    margin-top: 10px;
    float: left;
}
.nesto15:hover {
    background-color: #f2f2f2;
}
.prvo-dugme15:hover{
    background-color: #5e5e5e;
}
.crna-linija8 {
    background-color: black;
    border: 1px solid black;
    margin-top: 292px;
}
.sesnesta-slika {
    width: 180px;
    border-radius: 20px;
    height: 174px;
}
.text16 {
    text-align: center;
    margin-top: 10px;
}
.prvo-dugme16 {
    border-radius: 10px;
    margin-left: 36px;
    margin-top: 1px;
    background-color: #808080;
}
.nesto16 {
    background-color: white;
    width: 180px;
    border-radius: 20px;
    height: 268px;
    border: 2px solid black;
    margin-top: 10px;
    float: right;
}
.nesto16:hover {
    background-color: #f2f2f2;
}
.prvo-dugme16:hover{
    background-color: #5e5e5e;
}
.sedamnesta-slika {
    width: 180px;
    border-radius: 20px;
    height: 174px;
}
.text17 {
    text-align: center;
    margin-top: 10px;
}
.prvo-dugme17 {
    border-radius: 10px;
    margin-left: 36px;
    margin-top: 1px;
    background-color: #808080;
}
.nesto17 {
    background-color: white;
    width: 180px;
    border-radius: 20px;
    height: 268px;
    border: 2px solid black;
    margin-top: 10px;
    float: left;
}
.nesto17:hover {
    background-color: #f2f2f2;
}
.prvo-dugme17:hover{
    background-color: #5e5e5e;
}
.osamnesta-slika {
    width: 180px;
    border-radius: 20px;
    height: 174px;
}
.text18 {
    text-align: center;
    margin-top: 10px;
}
.prvo-dugme18 {
    border-radius: 10px;
    margin-left: 36px;
    margin-top: 1px;
    background-color: #808080;
}
.nesto18 {
    background-color: white;
    width: 180px;
    border-radius: 20px;
    height: 268px;
    border: 2px solid black;
    margin-top: 10px;
    float: right;
}
.nesto18:hover {
    background-color: #f2f2f2;
}
.prvo-dugme18:hover{
    background-color: #5e5e5e;
}
.crna-linija9 {
    background-color: black;
    border: 1px solid black;
    margin-top: 292px;
}
.kvadar-text1 {
    background-color: skyblue;
    width: 170px;
    border-radius: 40px;
    margin-left: 5px;
}
.kvadar-text2 {
    background-color: skyblue;
    width: 170px;
    border-radius: 40px;
    margin-left: 5px;
}
.kvadar-text3 {
    background-color: skyblue;
    width: 170px;
    border-radius: 40px;
    margin-left: 5px;
}
.kvadar-text4 {
    background-color: skyblue;
    width: 170px;
    border-radius: 40px;
    margin-left: 5px;
}
.kvadar-text5 {
    background-color: skyblue;
    width: 170px;
    border-radius: 40px;
    margin-left: 5px;
}
.kvadar-text6 {
    background-color: skyblue;
    width: 170px;
    border-radius: 40px;
    margin-left: 5px;
}
.kvadar-text7 {
    background-color: skyblue;
    width: 170px;
    border-radius: 40px;
    margin-left: 5px;
}
.kvadar-text8 {
    background-color: skyblue;
    width: 170px;
    border-radius: 40px;
    margin-left: 5px;
}
.kvadar-text9 {
    background-color: skyblue;
    width: 170px;
    border-radius: 40px;
    margin-left: 5px;
}
.kvadar-text10 {
    background-color: skyblue;
    width: 170px;
    border-radius: 40px;
    margin-left: 5px;
}
.kvadar-text11 {
    background-color: skyblue;
    width: 170px;
    border-radius: 40px;
    margin-left: 5px;
}
.kvadar-text12 {
    background-color: skyblue;
    width: 170px;
    border-radius: 40px;
    margin-left: 5px;
}
.kvadar-text13 {
    background-color: skyblue;
    width: 170px;
    border-radius: 40px;
    margin-left: 5px;
}
.kvadar-text14 {
    background-color: skyblue;
    width: 170px;
    border-radius: 40px;
    margin-left: 5px;
}
.kvadar-text15 {
    background-color: skyblue;
    width: 170px;
    border-radius: 40px;
    margin-left: 5px;
}
.kvadar-text16 {
    background-color: skyblue;
    width: 170px;
    border-radius: 40px;
    margin-left: 5px;
}
.kvadar-text17 {
    background-color: skyblue;
    width: 170px;
    border-radius: 40px;
    margin-left: 5px;
}
.kvadar-text18 {
    background-color: skyblue;
    width: 170px;
    border-radius: 40px;
    margin-left: 5px;
}
.kvadar-text19 {
    background-color: skyblue;
    width: 170px;
    border-radius: 40px;
    margin-left: 5px;
}
.devetnesta-slika {
    width: 180px;
    border-radius: 20px;
    height: 174px;
}
.text19 {
    text-align: center;
    margin-top: 10px;
}
.prvo-dugme19 {
    border-radius: 10px;
    margin-left: 36px;
    margin-top: 1px;
    background-color: #808080;
}
.nesto19 {
    background-color: white;
    width: 180px;
    border-radius: 20px;
    height: 268px;
    border: 2px solid black;
    margin-top: 10px;
    float: left;
}
.nesto19:hover {
    background-color: #f2f2f2;
}
.prvo-dugme19:hover{
    background-color: #5e5e5e;
}
.kvadar-text20 {
    background-color: skyblue;
    width: 170px;
    border-radius: 40px;
    margin-left: 5px;
}
.dvadeseta-slika {
    width: 180px;
    border-radius: 20px;
    height: 160px;
}
.text20 {
    text-align: center;
    margin-top: 10px;
}
.prvo-dugme20 {
    border-radius: 10px;
    margin-left: 36px;
    margin-top: 1px;
    background-color: #808080;
}
.nesto20 {
    background-color: white;
    width: 180px;
    border-radius: 20px;
    height: 268px;
    border: 2px solid black;
    margin-top: 10px;
    float: right;
}
.nesto20:hover {
    background-color: #f2f2f2;
}
.prvo-dugme20:hover{
    background-color: #5e5e5e;
}
.kvadar-text20 {
    background-color: skyblue;
    width: 170px;
    border-radius: 40px;
    margin-left: 5px;
}
.crna-linija10 {
    background-color: black;
    border: 1px solid black;
    margin-top: 292px;
}
.kvadar-text21 {
    background-color: skyblue;
    width: 170px;
    border-radius: 40px;
    margin-left: 5px;
}
.dvadesetprva-slika {
    width: 180px;
    border-radius: 20px;
    height: 160px;
}
.text21 {
    text-align: center;
    margin-top: 10px;
}
.prvo-dugme21 {
    border-radius: 10px;
    margin-left: 36px;
    margin-top: 1px;
    background-color: #808080;
}
.nesto21 {
    background-color: white;
    width: 180px;
    border-radius: 20px;
    height: 268px;
    border: 2px solid black;
    margin-top: 10px;
    float: left;
}
.nesto21:hover {
    background-color: #f2f2f2;
}
.prvo-dugme21:hover{
    background-color: #5e5e5e;
}
.kvadar-text21 {
    background-color: skyblue;
    width: 170px;
    border-radius: 40px;
    margin-left: 5px;
}
.kvadar-text22 {
    background-color: skyblue;
    width: 170px;
    border-radius: 40px;
    margin-left: 5px;
}
.dvadesetdruga-slika {
    width: 180px;
    border-radius: 20px;
    height: 160px;
}
.text22 {
    text-align: center;
    margin-top: 10px;
}
.prvo-dugme22 {
    border-radius: 10px;
    margin-left: 36px;
    margin-top: 1px;
    background-color: #808080;
}
.nesto22 {
    background-color: white;
    width: 180px;
    border-radius: 20px;
    height: 268px;
    border: 2px solid black;
    margin-top: 10px;
    float: right;
}
.nesto22:hover {
    background-color: #f2f2f2;
}
.kvadar-text22 {
    background-color: skyblue;
    width: 170px;
    border-radius: 40px;
    margin-left: 5px;
}
.prvo-dugme22:hover{
    background-color: #5e5e5e;
}
.crna-linija11 {
    background-color: black;
    border: 1px solid black;
    margin-top: 292px;
}
.kvadar-text23 {
    background-color: skyblue;
    width: 170px;
    border-radius: 40px;
    margin-left: 5px;
}
.dvadesettreca-slika {
    width: 180px;
    border-radius: 20px;
    height: 160px;
}
.text23 {
    text-align: center;
    margin-top: 10px;
}
.prvo-dugme23 {
    border-radius: 10px;
    margin-left: 36px;
    margin-top: 1px;
    background-color: #808080;
}
.nesto23 {
    background-color: white;
    width: 180px;
    border-radius: 20px;
    height: 268px;
    border: 2px solid black;
    margin-top: 10px;
    float: left;
}
.nesto23:hover {
    background-color: #f2f2f2;
}
.kvadar-text23 {
    background-color: skyblue;
    width: 170px;
    border-radius: 40px;
    margin-left: 5px;
}
.prvo-dugme23:hover{
    background-color: #5e5e5e;
}
.kvadar-text24 {
    background-color: skyblue;
    width: 170px;
    border-radius: 40px;
    margin-left: 5px;
}
.dvadesetcetvrta-slika {
    width: 180px;
    border-radius: 20px;
    height: 160px;
}
.text24 {
    text-align: center;
    margin-top: 10px;
}
.prvo-dugme24 {
    border-radius: 10px;
    margin-left: 36px;
    margin-top: 1px;
    background-color: #808080;
}
.nesto24 {
    background-color: white;
    width: 180px;
    border-radius: 20px;
    height: 268px;
    border: 2px solid black;
    margin-top: 10px;
    float: right;
}
.nesto24:hover {
    background-color: #f2f2f2;
}
.kvadar-text24 {
    background-color: skyblue;
    width: 170px;
    border-radius: 40px;
    margin-left: 5px;
}
.prvo-dugme24:hover{
    background-color: #5e5e5e;
}
.crna-linija12 {
    background-color: black;
    border: 1px solid black;
    margin-top: 292px;
}
.kvadar-text25 {
    background-color: skyblue;
    width: 170px;
    border-radius: 40px;
    margin-left: 5px;
}
.dvadesetpeta-slika {
    width: 180px;
    border-radius: 20px;
    height: 160px;
}
.text25 {
    text-align: center;
    margin-top: 10px;
}
.prvo-dugme25 {
    border-radius: 10px;
    margin-left: 36px;
    margin-top: 1px;
    background-color: #808080;
}
.nesto25 {
    background-color: white;
    width: 180px;
    border-radius: 20px;
    height: 268px;
    border: 2px solid black;
    margin-top: 10px;
    float: left;
}
.nesto25:hover {
    background-color: #f2f2f2;
}
.kvadar-text25 {
    background-color: skyblue;
    width: 170px;
    border-radius: 40px;
    margin-left: 5px;
}
.prvo-dugme25:hover{
    background-color: #5e5e5e;
}
.kvadar-text26 {
    background-color: skyblue;
    width: 170px;
    border-radius: 40px;
    margin-left: 5px;
}
.dvadesetsesta-slika {
    width: 180px;
    border-radius: 20px;
    height: 160px;
}
.text26 {
    text-align: center;
    margin-top: 10px;
}
.prvo-dugme26 {
    border-radius: 10px;
    margin-left: 36px;
    margin-top: 1px;
    background-color: #808080;
}
.nesto26 {
    background-color: white;
    width: 180px;
    border-radius: 20px;
    height: 268px;
    border: 2px solid black;
    margin-top: 10px;
    float: right;
}
.nesto26:hover {
    background-color: #f2f2f2;
}
.kvadar-text26 {
    background-color: skyblue;
    width: 170px;
    border-radius: 40px;
    margin-left: 5px;
}
.prvo-dugme26:hover{
    background-color: #5e5e5e;
}
.crna-linija13 {
    background-color: black;
    border: 1px solid black;
    margin-top: 292px;
}
.kvadar-text27 {
    background-color: skyblue;
    width: 170px;
    border-radius: 40px;
    margin-left: 5px;
}
.dvadesetsedma-slika {
    width: 180px;
    border-radius: 20px;
    height: 160px;
}
.text27 {
    text-align: center;
    margin-top: 10px;
}
.prvo-dugme27 {
    border-radius: 10px;
    margin-left: 36px;
    margin-top: 1px;
    background-color: #808080;
}
.nesto27 {
    background-color: white;
    width: 180px;
    border-radius: 20px;
    height: 268px;
    border: 2px solid black;
    margin-top: 10px;
    float: left;
}
.nesto27:hover {
    background-color: #f2f2f2;
}
.kvadar-text27 {
    background-color: skyblue;
    width: 170px;
    border-radius: 40px;
    margin-left: 5px;
}
.prvo-dugme27:hover{
    background-color: #5e5e5e;
}
.kvadar-text28 {
    background-color: skyblue;
    width: 170px;
    border-radius: 40px;
    margin-left: 5px;
}
.dvadesetosma-slika {
    width: 180px;
    border-radius: 20px;
    height: 160px;
}
.text28 {
    text-align: center;
    margin-top: 10px;
}
.prvo-dugme28 {
    border-radius: 10px;
    margin-left: 36px;
    margin-top: 1px;
    background-color: #808080;
    position: absolute;
}
.nesto28 {
    background-color: #ffffff;
    width: 180px;
    border-radius: 20px;
    height: 268px;
    border: 2px solid black;
    margin-top: 10px;
    float: right;
}
.nesto28:hover {
    background-color: #f2f2f2;
}
.kvadar-text28 {
    background-color: skyblue;
    width: 170px;
    border-radius: 40px;
    margin-left: 5px;
}
.prvo-dugme28:hover{
    background-color: #5e5e5e;
}
.crna-linija14 {
    background-color: black;
    border: 1px solid black;
    margin-top: 292px;
}
.sadrzaj {
    background-color: #52514f;
    width: 220px;
    height: 400px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    float: left;
}
.modal {
    position: absolute;
    z-index: 1;
    float: left;
}
.text-modal1 {
    text-align: center;
    color: white;
}
.glavni-text1 {
    text-align: center;
    color: white;
}
.zatvori {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 170px;
    color: white;
    cursor: pointer;
}
.zatvori:hover,
.zatvori:focus {
    color: black;
    cursor: pointer;
}
.modal-kvadar {
    width: 155px;
    height: 20px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 32px;
}



.sadrzaj2 {
    background-color: #52514f;
    width: 220px;
    height: 400px;
    border-radius: 20px;  
    border: 2px solid black;
    margin-left: 0px;
    float: right;
}
.modal2 {
    position: relative;
    z-index: 1;
    float: right;
}
.text-modal2 {
    text-align: center;
    color: white;
}
.glavni-text2 {
    text-align: center;
    color: white;
}
.zatvori2 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    color: white;
    cursor: pointer;
}
.zatvori2:hover,
.zatvori2:focus {
    color: black;
    cursor: pointer;
}
.modal-kvadar2 {
    width: 155px;
    height: 20px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 32px;
}


.sadrzaj3 {
    background-color: #52514f;
    width: 220px;
    height: 400px;
    border-radius: 20px;  
    border: 2px solid black;
    margin-left: 0px;
    float: left;
}
.modal3 {
    position: relative;
    z-index: 1;
    float: left;
}
.text-modal3 {
    text-align: center;
    color: white;
}
.glavni-text3 {
    text-align: center;
    color: white;
}
.zatvori3 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    color: white;
    cursor: pointer;
}
.zatvori3:hover,
.zatvori3:focus {
    color: black;
    cursor: pointer;
}
.modal-kvadar3 {
    width: 155px;
    height: 20px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 32px;
}



.sadrzaj4 {
    background-color: #52514f;
    width: 220px;
    height: 400px;
    border-radius: 20px;  
    border: 2px solid black;
    margin-left: 0px;
    float: right;
}
.modal4 {
    position: relative;
    z-index: 1;
    float: right;
}
.text-modal4 {
    text-align: center;
    color: white;
}
.glavni-text4 {
    text-align: center;
    color: white;
}
.zatvori4 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 230px;
    color: white;
    cursor: pointer;
}
.zatvori4:hover,
.zatvori4:focus {
    color: black;
    cursor: pointer;
}
.modal-kvadar4 {
    width: 155px;
    height: 20px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 32px;
}



.sadrzaj5 {
    background-color: #52514f;
    width: 220px;
    height: 590px;
    border-radius: 20px;  
    border: 2px solid black;
    margin-left: 0px;
    float: left;
}
.modal5 {
    position: relative;
    z-index: 1;
    float: left;
}
.text-modal5 {
    text-align: center;
    color: white;
}
.glavni-text5 {
    text-align: center;
    color: white;
}
.zatvori5 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 23px;
    color: white;
    cursor: pointer;
}
.zatvori5:hover,
.zatvori5:focus {
    color: black;
    cursor: pointer;
}
.modal-kvadar5 {
    width: 155px;
    height: 20px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 32px;
}


.sadrzaj6 {
    background-color: #52514f;
    width: 220px;
    height: 400px;
    border-radius: 20px;  
    border: 2px solid black;
    margin-left: 0px;
    float: right;
}
.modal6 {
    position: relative;
    z-index: 1;
    float: right;
}
.text-modal6 {
    text-align: center;
    color: white;
}
.glavni-text6 {
    text-align: center;
    color: white;
}
.zatvori6 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: white;
    cursor: pointer;
}
.zatvori6:hover,
.zatvori6:focus {
    color: black;
    cursor: pointer;
}
.modal-kvadar6 {
    width: 155px;
    height: 20px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 32px;
}


.sadrzaj7 {
    background-color: #52514f;
    width: 220px;
    height: 540px;
    border-radius: 20px;  
    border: 2px solid black;
    margin-left: 0px;
    float: left;
}
.modal7 {
    position: relative;
    z-index: 1;
    float: left;
}
.text-modal7 {
    text-align: center;
    color: white;
}
.glavni-text7 {
    text-align: center;
    color: white;
}
.zatvori7 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 23px;
    color: white;
    cursor: pointer;
}
.zatvori7:hover,
.zatvori7:focus {
    color: black;
    cursor: pointer;
}
.modal-kvadar7 {
    width: 155px;
    height: 20px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 32px;
}


.sadrzaj8 {
    background-color: #52514f;
    width: 215px;
    height: 380px;
    border-radius: 20px;  
    border: 2px solid black;
    margin-left: 0px;
    float: right;
}
.modal8 {
    position: relative;
    z-index: 1;
    float: right;
}
.text-modal8 {
    text-align: center;
    color: white;
}
.glavni-text8 {
    text-align: center;
    color: white;
}
.zatvori8 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    margin-bottom: 0px;
}
.zatvori8:hover,
.zatvori8:focus {
    color: black;
    cursor: pointer;
}
.modal-kvadar8 {
    width: 155px;
    height: 20px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 32px;
}




.sadrzaj9 {
    background-color: #52514f;
    width: 215px;
    height: 700px;
    border-radius: 20px;  
    border: 2px solid black;
    margin-left: 0px;
    float: left;
}
.modal9 {
    position: relative;
    z-index: 1;
    float: left;
}
.text-modal9 {
    text-align: center;
    color: white;
}
.glavni-text9 {
    text-align: center;
    color: white;
}
.zatvori9 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    margin-bottom: 0px;
}
.zatvori9:hover,
.zatvori9:focus {
    color: black;
    cursor: pointer;
}
.modal-kvadar9 {
    width: 155px;
    height: 20px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 32px;
}


.sadrzaj10 {
    background-color: #52514f;
    width: 215px;
    height: 640px;
    border-radius: 20px;  
    border: 2px solid black;
    margin-left: 0px;
    float: right;
}
.modal10 {
    position: relative;
    z-index: 1;
    float: right;
}
.text-modal10 {
    text-align: center;
    color: white;
}
.glavni-text10 {
    text-align: center;
    color: white;
}
.zatvori10 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    margin-bottom: 0px;
}
.zatvori10:hover,
.zatvori10:focus {
    color: black;
    cursor: pointer;
}
.modal-kvadar10 {
    width: 180px;
    height: 20px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 18px;
}


.sadrzaj11 {
    background-color: #52514f;
    width: 215px;
    height: 780px;
    border-radius: 20px;  
    border: 2px solid black;
    margin-left: 0px;
    float: left;
}
.modal11 {
    position: relative;
    z-index: 1;
    float: left;
}
.text-modal11 {
    text-align: center;
    color: white;
}
.glavni-text11 {
    text-align: center;
    color: white;
}
.zatvori11 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}
.zatvori11:hover,
.zatvori11:focus {
    color: black;
    cursor: pointer;
}
.modal-kvadar11 {
    width: 155px;
    height: 20px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 32px;
}


.sadrzaj12 {
    background-color: #52514f;
    width: 215px;
    height: 525px;
    border-radius: 20px;  
    border: 2px solid black;
    margin-left: 0px;
    float: right;
}
.modal12 {
    position: relative;
    z-index: 1;
    float: right;
}
.text-modal12 {
    text-align: center;
    color: white;
}
.glavni-text12 {
    text-align: center;
    color: white;
}
.zatvori12 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    margin-bottom: 5px;
}
.zatvori12:hover,
.zatvori12:focus {
    color: black;
    cursor: pointer;
}
.modal-kvadar12 {
    width: 155px;
    height: 20px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 32px;
}



.sadrzaj13 {
    background-color: #52514f;
    width: 215px;
    height: 420px;
    border-radius: 20px;  
    border: 2px solid black;
    margin-left: 0px;
    float: left;
}
.modal13 {
    position: relative;
    z-index: 1;
    float: left;
}
.text-modal13 {
    text-align: center;
    color: white;
}
.glavni-text13 {
    text-align: center;
    color: white;
}
.zatvori13 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    margin-bottom: 0px;
}
.zatvori13:hover,
.zatvori13:focus {
    color: black;
    cursor: pointer;
}
.modal-kvadar13 {
    width: 155px;
    height: 20px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 32px;
}



.sadrzaj14 {
    background-color: #52514f;
    width: 215px;
    height: 380px;
    border-radius: 20px;  
    border: 2px solid black;
    margin-left: 0px;
    float: right;
}
.modal14 {
    position: relative;
    z-index: 1;
    float: right;
}
.text-modal14 {
    text-align: center;
    color: white;
}
.glavni-text14 {
    text-align: center;
    color: white;
}
.zatvori14 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    margin-bottom: 0px;
}
.zatvori14:hover,
.zatvori14:focus {
    color: black;
    cursor: pointer;
}
.modal-kvadar14 {
    width: 180px;
    height: 20px;
    background-color: black;
    border-radius: 20px;
    margin-top: 5px;
    margin-left: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.sadrzaj15 {
    background-color: #52514f;
    width: 210px;
    height: 400px;
    border-radius: 20px;  
    border: 2px solid black;
    margin-left: 0px;
    float: left;
}
.modal15 {
    position: relative;
    z-index: 1;
    float: left;
}
.text-modal15 {
    text-align: center;
    color: white;
}
.glavni-text15 {
    text-align: center;
    color: white;
}
.zatvori15 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    margin-bottom: 0px;
}
.zatvori15:hover,
.zatvori15:focus {
    color: black;
    cursor: pointer;
}
.modal-kvadar15 {
    width: 155px;
    height: 20px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 32px;
}


.sadrzaj16 {
    background-color: #52514f;
    width: 200px;
    height: 370px;
    border-radius: 20px;  
    border: 2px solid black;
    margin-left: 0px;
    float: right;
}
.modal16 {
    position: relative;
    z-index: 1;
    float: right;
}
.text-modal16 {
    text-align: center;
    color: white;
}
.glavni-text16 {
    text-align: center;
    color: white;
}
.zatvori16 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    margin-bottom: 0px;
}
.zatvori16:hover,
.zatvori16:focus {
    color: black;
    cursor: pointer;
}
.modal-kvadar16 {
    width: 155px;
    height: 20px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 32px;
}



.sadrzaj17 {
    background-color: #52514f;
    width: 210px;
    height: 380px;
    border-radius: 20px;  
    border: 2px solid black;
    margin-left: 0px;
    float: left;
}
.modal17 {
    position: relative;
    z-index: 1;
    float: left;
}
.text-modal17 {
    text-align: center;
    color: white;
}
.glavni-text17 {
    text-align: center;
    color: white;
}
.zatvori17 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    margin-bottom: 0px;
}
.zatvori17:hover,
.zatvori17:focus {
    color: black;
    cursor: pointer;
}
.modal-kvadar17 {
    width: 155px;
    height: 20px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 32px;
}



.sadrzaj18 {
    background-color: #52514f;
    width: 200px;
    height: 420px;
    border-radius: 20px;  
    border: 2px solid black;
    margin-left: 0px;
    float: right;
}
.modal18 {
    position: relative;
    z-index: 1;
    float: right;
}
.text-modal18 {
    text-align: center;
    color: white;
}
.glavni-text18 {
    text-align: center;
    color: white;
}
.zatvori18 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    margin-bottom: 0px;
}
.zatvori18:hover,
.zatvori18:focus {
    color: black;
    cursor: pointer;
}
.modal-kvadar18 {
    width: 155px;
    height: 20px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 32px;
}



.sadrzaj19 {
    background-color: #52514f;
    width: 210px;
    height: 500px;
    border-radius: 20px;  
    border: 2px solid black;
    margin-left: 0px;
    float: left;
}
.modal19 {
    position: relative;
    z-index: 1;
    float: left;
}
.text-modal19 {
    text-align: center;
    color: white;
}
.glavni-text19 {
    text-align: center;
    color: white;
}
.zatvori19 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    margin-bottom: 0px;
}
.zatvori19:hover,
.zatvori19:focus {
    color: black;
    cursor: pointer;
}
.modal-kvadar19 {
    width: 155px;
    height: 20px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 32px;
}


.sadrzaj20 {
    background-color: #52514f;
    width: 200px;
    height: 420px;
    border-radius: 20px;  
    border: 2px solid black;
    margin-left: 0px;
    float: right;
}
.modal20 {
    position: relative;
    z-index: 1;
    float: right;
}
.text-modal20 {
    text-align: center;
    color: white;
}
.glavni-text20 {
    text-align: center;
    color: white;
}
.zatvori20 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    margin-bottom: 0px;
}
.zatvori20:hover,
.zatvori20:focus {
    color: black;
    cursor: pointer;
}
.modal-kvadar20 {
    width: 175px;
    height: 20px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 13px;
}



.sadrzaj21 {
    background-color: #52514f;
    width: 225px;
    height: 800px;
    border-radius: 20px;  
    border: 2px solid black;
    margin-left: 0px;
    float: left;
}
.modal21 {
    position: relative;
    z-index: 1;
    float: left;
}
.text-modal21 {
    text-align: center;
    color: white;
}
.glavni-text21 {
    text-align: center;
    color: white;
}
.zatvori21 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    margin-bottom: 0px;
}
.zatvori21:hover,
.zatvori21:focus {
    color: black;
    cursor: pointer;
}
.modal-kvadar21 {
    width: 155px;
    height: 20px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 32px;
}



.sadrzaj22 {
    background-color: #52514f;
    width: 200px;
    height: 430px;
    border-radius: 20px;  
    border: 2px solid black;
    margin-left: 0px;
    float: right;
}
.modal22 {
    position: relative;
    z-index: 1;
    float: right;
}
.text-modal22 {
    text-align: center;
    color: white;
}
.glavni-text22 {
    text-align: center;
    color: white;
}
.zatvori22 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    margin-bottom: 0px;
}
.zatvori22:hover,
.zatvori22:focus {
    color: black;
    cursor: pointer;
}
.modal-kvadar22 {
    width: 155px;
    height: 20px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 32px;
}



.sadrzaj23 {
    background-color: #52514f;
    width: 215px;
    height: 485px;
    border-radius: 20px;  
    border: 2px solid black;
    margin-left: 0px;
    float: left;
}
.modal23 {
    position: relative;
    z-index: 1;
    float: left;
}
.text-modal23 {
    text-align: center;
    color: white;
}
.glavni-text23 {
    text-align: center;
    color: white;
}
.zatvori23 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    margin-bottom: 0px;
}
.zatvori23:hover,
.zatvori23:focus {
    color: black;
    cursor: pointer;
}
.modal-kvadar23 {
    width: 155px;
    height: 20px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 32px;
}



.sadrzaj24 {
    background-color: #52514f;
    width: 210px;
    height: 685px;
    border-radius: 20px;  
    border: 2px solid black;
    margin-left: 0px;
    float: right;
}
.modal24 {
    position: relative;
    z-index: 1;
    float: right;
}
.text-modal24 {
    text-align: center;
    color: white;
}
.glavni-text24 {
    text-align: center;
    color: white;
}
.zatvori24 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    margin-bottom: 0px;
}
.zatvori24:hover,
.zatvori24:focus {
    color: black;
    cursor: pointer;
}
.modal-kvadar24 {
    width: 155px;
    height: 20px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 32px;
}



.sadrzaj25 {
    background-color: #52514f;
    width: 170px;
    height: 150px;
    border-radius: 20px;  
    border: 2px solid black;
    margin-left: 0px;
    float: left;
}
.modal25 {
    position: relative;
    z-index: 1;
    float: left;
}
.text-modal25 {
    text-align: center;
    color: white;
}
.glavni-text25 {
    text-align: center;
    color: white;
}
.zatvori25 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    margin-bottom: 0px;
}
.zatvori25:hover,
.zatvori25:focus {
    color: black;
    cursor: pointer;
}
.modal-kvadar25 {
    width: 155px;
    height: 20px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 8px;
}



.sadrzaj26 {
    background-color: #52514f;
    width: 170px;
    height: 150px;
    border-radius: 20px;  
    border: 2px solid black;
    margin-left: 0px;
    float: right;
}
.modal26 {
    position: relative;
    z-index: 1;
    float: right;
}
.text-modal26 {
    text-align: center;
    color: white;
}
.glavni-text26 {
    text-align: center;
    color: white;
}
.zatvori26 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    margin-bottom: 0px;
}
.zatvori26:hover,
.zatvori26:focus {
    color: black;
    cursor: pointer;
}
.modal-kvadar26 {
    width: 155px;
    height: 20px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 8px;
}



.sadrzaj27 {
    background-color: #52514f;
    width: 198px;
    height: 200px;
    border-radius: 20px;  
    border: 2px solid black;
    margin-left: 0px;
    float: left;
}
.modal27 {
    z-index: 1;
    float: left;
    position: absolute;
}
.text-modal27 {
    text-align: center;
    color: white;
}
.glavni-text27 {
    text-align: center;
    color: white;
}
.zatvori27 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    margin-bottom: 0px;
}
.zatvori27:hover,
.zatvori27:focus {
    color: black;
    cursor: pointer;
}
.modal-kvadar27 {
    width: 155px;
    height: 20px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 20px;
}



.sadrzaj28 {
    background-color: #52514f;
    width: 210px;
    height: 350px;
    border-radius: 20px;  
    border: 2px solid black;
    float: right;
    position: relative;
}
.modal28 {
    z-index: 1;
    float: right;
    position: relative;
}
.text-modal28 {
    text-align: center;
    color: white;
}
.glavni-text28 {
    text-align: center;
    color: white;
}
.zatvori28 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    margin-bottom: 0px;
}
.zatvori28:hover,
.zatvori28:focus {
    color: black;
    cursor: pointer;
}
.modal-kvadar28 {
    width: 155px;
    height: 20px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 32px;
}



.kvadar-text29 {
    background-color: skyblue;
    width: 170px;
    border-radius: 40px;
    margin-left: 5px;
}
.dvadesetdeveta-slika {
    width: 180px;
    border-radius: 20px;
    height: 160px;
}
.text29 {
    text-align: center;
    margin-top: 10px;
}
.prvo-dugme29 {
    border-radius: 10px;
    margin-left: 36px;
    margin-top: 1px;
    background-color: #808080;
    position: absolute;
}
.nesto29 {
    background-color: #ffffff;
    width: 180px;
    border-radius: 20px;
    height: 268px;
    border: 2px solid black;
    margin-top: 10px;
    float: left;
}
.nesto29:hover {
    background-color: #f2f2f2;
}
.kvadar-text29 {
    background-color: skyblue;
    width: 170px;
    border-radius: 40px;
    margin-left: 5px;
}
.prvo-dugme29:hover{
    background-color: #5e5e5e;
}
.sadrzaj29 {
    background-color: #52514f;
    width: 215px;
    height: 585px;
    border-radius: 20px;  
    border: 2px solid black;
    margin-left: 0px;
    float: left;
}
.modal29 {
    position: relative;
    z-index: 1;
    float: left;
}
.text-modal29 {
    text-align: center;
    color: white;
}
.glavni-text29 {
    text-align: center;
    color: white;
}
.zatvori29 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    margin-bottom: 0px;
}
.zatvori29:hover,
.zatvori29:focus {
    color: black;
    cursor: pointer;
}
.modal-kvadar29 {
    width: 155px;
    height: 20px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 32px;
}
